/*-----[ grid ]-----------------------------------------------------------------
| Style specifying the dimensions of the basic page grid and other common
| measures.
*/
$column-width     : 20px;
$horizontal-nudge : $column-width / 4;

$gutter-width     : 2 * $column-width;

$vertical-nudge   : $body-text-line-height / 4;
$section-spacing  : 2 * $body-text-line-height;

$content-width    : 40 * $body-text-line-height;
$page-width       : $content-width + 2 * $gutter-width;
