/*----------[ alerts ]----------------------------------------------------------
*/
.alerts
{
  margin: 0;
  list-style-type: none;

  .message
  {
    position: relative;
    margin-bottom: $vertical-nudge;
    padding: $vertical-nudge $column-width / 2;
    padding-left: 2 * $column-width;

    &:before
    {
      margin-left: -($column-width + $horizontal-nudge);
      margin-right: $horizontal-nudge;
      width: $column-width;
    }

    &.success
    {
      background-color: $success-feedback-bg;
      color: $success-feedback;
      @include fa-icon(ok);
    }

    &.warning
    {
      background-color: $warning-feedback-bg;
      color: $warning-feedback;
      @include fa-icon(asterisk);
    }

    &.error
    {
      background-color: $error-feedback-bg;
      color: $error-feedback;
      @include fa-icon(exclamation-sign);
    }
  }
}

