/*-----[ presentation ]---------------------------------------------------------
*/
.presentation
{
  header.global
  {
    text-align: center;
  }

  section > h2
  {
    position: relative;
  }

  .table-of-contents ol
  {
    @include ordered-list-with-colored-numbers();
  }

  .back-to-top
  {
    font-size: $large-text-size;
    text-decoration: none;
    @include fa-icon(arrow-circle-up, $color: lighten($silver, 5), $top: -2px);

    &:hover, &:active,
    &:hover:before, &:active:before
    {
      color: $bright-yellow;
    }
  }

  blockquote
  {
    position: relative;
    z-index: 5;
    font-family: $secondary-text-family;
    font-size: 1.5 * $body-text-line-height;
    line-height: 2 * $body-text-line-height;

    &:before
    {
      position: absolute;
      z-index: -5;
      top: 3 * $body-text-line-height;
      left: $column-width;
      font-size: 5em;
      color: $greyish-white;
      content: '“';
    }
  }

  figure
  {
    @include photo;
  }

  iframe, video
  {
    @include box-sizing(border-box);
    border: 1px solid $light-stroke;
    max-width: 100% !important;
  }

  .sources ul
  {
    @include unordered-list-with-colored-bullets;
  }

  .footnotes
  {
    @include footnotes;
  }

  @media (min-width: $screen-md-min)
  {
    .back-to-top
    {
      position: absolute;
      left: -($column-width + $horizontal-nudge);
    }

    section
    {
      @include clearfix;

      .column
      {
        @include box-sizing(border-box);
        float: left;

        &:first-of-type
        {
          width: 60%;
          margin-right: 3%;
        }

        &:last-of-type
        {
          width: 37%;
        }
      }

      &.reverse .column
      {
        &:first-of-type
        {
          width: 37%;
          margin-right: 3%;
        }

        &:last-of-type
        {
          width: 60%;
        }
      }

      &.equal .column
      {
        width: 48.5%;

        &:first-of-type
        {
          margin-right: 3%;
        }
      }
    }
  }
}
